<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Admin login Page</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/admin/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body class="dark">
        <main>
            
            <section class="content-main mt-80 mb-80">
                <div class="card mx-auto card-login">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Sign in</h4>
                        <form action="/admin" method="post">
                            <div class="mb-3">
                                <% if (typeof message !== 'undefined') { %>

                                 <p class="text-danger"><%= message %></p>
                                
                                 <% } %>
                                <input class="form-control" placeholder="Username or email" type="email" name="userEmail" required />
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <% if (typeof message1 !== 'undefined') { %>

                                    <p class="text-danger"><%= message1 %></p>
                                   
                                    <% } %>
                                <input class="form-control" placeholder="Password" type="password" name="userPassword" required/>
                            </div>
                            <!-- form-group// -->
                            
                            <!-- form-group form-check .// -->
                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary w-100">Login</button>
                            </div>
                            <!-- form-group// -->
                        </form>
                        
                    </div>
                </div>
                <div class="main-footer text-center mt--30">
                    <p class="font-xs">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; M E E ' H A F .
                    </p>
                    <p class="font-xs mb-30">All rights reserved</p>
                </div>
            </section>
            <footer  >
               
            </footer>
        </main>
        <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin/assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
