<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->

    <!-- Template CSS -->
    <link href="/admin/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <style>
        .logo {
            font-family: 'Your Custom Font', Ledger;
            /* Replace 'Your Custom Font' with the font you want to use */
            font-size: 15px;
            /* Adjust the font size as needed */
            color: #d2cece;
            /* Adjust the color as needed */
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            /* Add a text shadow */
        }

        .tagline {
            font-size: 12px;
            /* Adjust the font size for the tagline */
            color: #777;
            /* Adjust the color for the tagline */
            text-align: center;
            /* Center the tagline */
            margin-top: 4px;
            /* Add some space between the logo and tagline */
        }

        .swal2-title {
            color: black !important;
            /* Set the title text color to black */
        }

        .swal2-html-container {
            color: black !important;
            /* Set the content text color to black */
        }

        .swal2-confirm {
            background-color: #4caf50 !important;
            /* Set the confirm button color to green */
            color: white !important;
            /* Set the confirm button text color to white */
        }

        .cropper-container {
        width: 100%;
        max-height: 400px;
        margin-bottom: 10px;
    }
    .modal-content {
        margin: 10% auto;
        padding: 20px;
        width: 80%;
        max-width: 600px;
        background-color: #363636;
    }
    
    </style>
</head>